<component name="ArtifactManager">
  <artifact type="war" name="spring_listenter:war">
    <output-path>$PROJECT_DIR$/spring_listenter/target</output-path>
    <properties id="maven-jee-properties">
      <options>
        <module>spring_listenter</module>
        <packaging>war</packaging>
      </options>
    </properties>
    <root id="archive" name="spring_listenter-1.0-SNAPSHOT.war">
      <element id="artifact" artifact-name="spring_listenter:war exploded" />
    </root>
  </artifact>
</component>